@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-weight: bolder;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #1e1e1e;
}

.navbar {
    background-color: #1e1e1e;
    padding: 10px 30px;
}


.navbar-brand {
    font-weight: bolder;
    color: #fff;
    font-size: 24px;
}

.nav-link {
    color: #fff;
    margin-right: 20px;
    position: relative;
    font-weight: normal;
    font-family: "Michroma", serif;
}

.nav-link:hover {
    color: #fff;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #000, #1e1e1e, #000);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
}

#svg {
    height: 150px;
    width: 150px;
    stroke: white;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.name-container {
    height: 30px;
    overflow: hidden;
}

.logo-name {
    color: #fff;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bolder;
}

.hero-section {
    height: 90vh;
    font-family: "Michroma", serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section h1 {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 100px;
    z-index: 2;
}
/* 
.hero-section h1:hover {
    color: #1e1e1e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
} */

.img-container {
    position: absolute;
    overflow: visible;
    text-wrap: nowrap;
    z-index: 1;
}

.img-container div{
    position: absolute;
    top: 170px;
    left: 230px;
    display: none;
}


.img-container h1 {
    font-weight: 800;
    letter-spacing: 0px;
    text-align: left;
    font-size: 40px;
}

.img-container h3 {
    font-weight: 200;
    font-family: arial;
    font-size: 10px;
}

.img-container img {
    width: 350px;
}